 <li class="sidenav-item">
                  <a href="page-layouts.html">
                    <span class="sidenav-icon icon icon-columns"></span>
                    <span class="sidenav-label">Page layouts</span>
                  </a>
                </li>
                <li class="sidenav-heading">Components</li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-briefcase"></span>
                    <span class="sidenav-label">UI Elements</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">UI Elements</li>
                    <li><a href="arrows.html">Arrows</a></li>
                    <li><a href="badges.html">Badges</a></li>
                    <li><a href="buttons.html">Buttons</a></li>
                    <li><a href="cards.html">Cards</a></li>
                    <li><a href="dividers.html">Dividers</a></li>
                    <li><a href="files.html">Files</a></li>
                    <li><a href="flags.html">Flags</a></li>
                    <li><a href="grid-system.html">Grid system</a></li>
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="labels.html">Labels</a></li>
                    <li><a href="lists.html">Lists</a></li>
                    <li><a href="pricing-cards.html">Pricing cards</a></li>
                    <li><a href="progress-bars.html">Progress bars</a></li>
                    <li><a href="spinners.html">Spinners</a></li>
                    <li><a href="toastr.html">Toastr</a></li>
                    <li><a href="typography.html">Typography</a></li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-edit"></span>
                    <span class="sidenav-label">Forms</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Forms</li>
                    <li><a href="cropper.html">Cropper</a></li>
                    <li><a href="form-controls.html">Form controls</a></li>
                    <li><a href="form-layouts.html">Form layouts</a></li>
                    <li><a href="form-validation.html">Form validation</a></li>
                    <li><a href="form-wizard.html">Form wizard</a></li>
                    <li><a href="input-mask.html">Input mask</a></li>
                    <li><a href="md-form-controls.html">Material form controls</a></li>
                    <li><a href="md-form-validation.html">Material form validation</a></li>
                    <li><a href="pickers.html">Pickers</a></li>
                    <li><a href="select2.html">Select2</a></li>
                    <li><a href="sliders.html">Sliders</a></li>
                    <li><a href="toggles.html">Toggles</a></li>
                    <li><a href="uploader.html">Uploader</a></li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-list"></span>
                    <span class="sidenav-label">Tables</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Tables</li>
                    <li><a href="static-tables.html">Static tables</a></li>
                    <li><a href="dynamic-tables.html">Dynamic tables</a></li>
                  </ul>
                </li>
                <li class="sidenav-item">
                  <a href="charts.html">
                    <span class="sidenav-icon icon icon-pie-chart"></span>
                    <span class="sidenav-label">Charts</span>
                  </a>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-map-marker"></span>
                    <span class="sidenav-label">Maps</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Maps</li>
                    <li><a href="vector-maps.html">Vector maps</a></li>
                    <li><a href="google-maps.html">Google maps</a></li>
                  </ul>
                </li>
                <li class="sidenav-heading">Pages</li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-lock"></span>
                    <span class="sidenav-label">Authentication</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Authentication</li>
                    <li><a href="signup-1.html" target="_blank">Sign up 1</a></li>
                    <li><a href="signup-2.html" target="_blank">Sign up 2</a></li>
                    <li><a href="signup-3.html" target="_blank">Sign up 3</a></li>
                    <li><a href="login-1.html" target="_blank">Login 1</a></li>
                    <li><a href="login-2.html" target="_blank">Login 2</a></li>
                    <li><a href="login-3.html" target="_blank">Login 3</a></li>
                    <li><a href="password-1.html" target="_blank">Reset password 1</a></li>
                    <li><a href="password-2.html" target="_blank">Reset password 2</a></li>
                    <li><a href="password-3.html" target="_blank">Reset password 3</a></li>
                  </ul>
                </li>
                <li class="sidenav-item">
                  <a href="contacts.html">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Contacts</span>
                  </a>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-envelope"></span>
                    <span class="sidenav-label">Mailbox</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Mailbox</li>
                    <li><a href="mail.html">Mail 1</a></li>
                    <li><a href="inbox.html">Mail 2</a></li>
                    <li><a href="compose.html">Compose</a></li>
                  </ul>
                </li>
                <li class="sidenav-item">
                  <a href="messenger.html">
                    <span class="sidenav-icon icon icon-comments"></span>
                    <span class="sidenav-label">Messenger</span>
                  </a>
                </li>
                <li class="sidenav-item">
                  <a href="profile.html">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">Profile</span>
                  </a>
                </li>
                <li class="sidenav-item">
                  <a href="drive.html">
                    <span class="sidenav-icon icon icon-cloud-upload"></span>
                    <span class="sidenav-label">Drive</span>
                  </a>
                </li>
                <li class="sidenav-item">
                  <a href="landing-page.html" target="_blank">
                    <span class="sidenav-badge badge badge-danger">Hot</span>
                    <span class="sidenav-icon icon icon-star"></span>
                    <span class="sidenav-label">Landing Page</span>
                  </a>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-shopping-cart"></span>
                    <span class="sidenav-label">E-commerce</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">E-commerce</li>
                    <li><a href="store.html">Store</a></li>
                    <li><a href="shopping-cart.html">Shopping cart</a></li>
                    <li><a href="product.html">Product</a></li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-files-o"></span>
                    <span class="sidenav-label">Other pages</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Other pages</li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                    <li><a href="404.html" target="_blank">404</a></li>
                    <li><a href="500.html" target="_blank">500</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="us-elections.html">US elections (timeline)</a></li>
                  </ul>
                </li>




                <span class="d-ib">
                <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
                  <span class="sr-only">Add to shortcut list</span>
                </a>
              </span>



              <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-actions">
                        <strong>Top Search Terms</strong>
                        <span aria-hidden="true"> · </span>
                        <a href="#">Refresh</a>
                        <span aria-hidden="true"> · </span>
                        <a href="#">Settings</a>
                      </div>
                      <div class="card-phrases">
                        <div class="text-justify">
                          <a class="link-muted" href="#" title="Search nodejs" style="font-size: 11px">nodejs</a>
                          <a class="link-muted" href="#" title="Search modernizr" style="font-size: 9px">modernizr</a>
                          <a class="link-muted" href="#" title="Search babel" style="font-size: 14px">babel</a>
                          <a class="link-muted" href="#" title="Search elephant" style="font-size: 36px">elephant</a>
                          <a class="link-muted" href="#" title="Search admin" style="font-size: 13px">admin</a>
                          <a class="link-muted" href="#" title="Search package" style="font-size: 9px">package</a>
                          <a class="link-muted" href="#" title="Search gruntjs" style="font-size: 12px">gruntjs</a>
                          <a class="link-muted" href="#" title="Search underscore" style="font-size: 9px">underscore</a>
                          <a class="link-muted" href="#" title="Search jquery" style="font-size: 20px">jquery</a>
                          <a class="link-muted" href="#" title="Search material" style="font-size: 9px">material</a>
                          <a class="link-muted" href="#" title="Search material-design" style="font-size: 11px">material-design</a>
                          <a class="link-muted" href="#" title="Search validation" style="font-size: 11px">validation</a>
                          <a class="link-muted" href="#" title="Search angularjs" style="font-size: 24px">angularjs</a>
                          <a class="link-muted" href="#" title="Search react" style="font-size: 14px">react</a>
                          <a class="link-muted" href="#" title="Search requirejs" style="font-size: 9px">requirejs</a>
                          <a class="link-muted" href="#" title="Search form" style="font-size: 9px">form</a>
                          <a class="link-muted" href="#" title="Search widgets" style="font-size: 14px">widgets</a>
                          <a class="link-muted" href="#" title="Search sass" style="font-size: 23px">sass</a>
                          <a class="link-muted" href="#" title="Search chartjs" style="font-size: 9px">chartjs</a>
                          <a class="link-muted" href="#" title="Search theme" style="font-size: 14px">theme</a>
                          <a class="link-muted" href="#" title="Search api" style="font-size: 33px">api</a>
                          <a class="link-muted" href="#" title="Search gulp" style="font-size: 10px">gulp</a>
                          <a class="link-muted" href="#" title="Search bootstrap" style="font-size: 23px">bootstrap</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="text-center m-b">
            <h3 class="m-b-0">Static Table Report</h3>
            <small>The following example shows how to produce a real report by using the tables.</small>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Quantity</th>
                        <th>Priority</th>
                        <th>1 day</th>
                        <th>2 days</th>
                        <th>3 days</th>
                        <th>a year ago</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td><a href="#">Jessica Brown</a></td>
                        <td>28 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 60%">
                              <span class="sr-only">60% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 30%">
                              <span class="sr-only">30% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                              <span class="sr-only">10% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>75%</td>
                        <td>25%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-success">
                            <span class="icon icon-level-up"></span>
                            +15.00%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td><a href="#">Ryan Moore</a></td>
                        <td>28 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 70%">
                              <span class="sr-only">70% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%">
                              <span class="sr-only">20% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                              <span class="sr-only">10% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>100%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-success">
                            <span class="icon icon-level-up"></span>
                            +7.75%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td><a href="#">Ella Davis</a></td>
                        <td>24 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 80%">
                              <span class="sr-only">80% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 10%">
                              <span class="sr-only">10% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                              <span class="sr-only">10% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>90%</td>
                        <td>10%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-muted">
                            0.00%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td><a href="#">Emily Young</a></td>
                        <td>21 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 60%">
                              <span class="sr-only">60% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 10%">
                              <span class="sr-only">10% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 30%">
                              <span class="sr-only">30% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>90%</td>
                        <td>10%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-danger">
                            -7.75%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td><a href="#">Matthew Campbell</a></td>
                        <td>19 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 100%">
                              <span class="sr-only">100% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td>65%</td>
                        <td>25%</td>
                        <td>10%</td>
                        <td>
                          <span class="text-success">
                            <span class="icon icon-level-up"></span>
                            +2.00%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td><a href="#">Mia Williams</a></td>
                        <td>18 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 100%">
                              <span class="sr-only">100% Complete (success)</span>
                            </div>
                          </div>
                        </td>
                        <td>90%</td>
                        <td>10%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-danger">
                            <span class="icon icon-level-down"></span>
                            -3.25%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td><a href="#">Brad Miller</a></td>
                        <td>17 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 95%">
                              <span class="sr-only">95% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 5%">
                              <span class="sr-only">5% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>90%</td>
                        <td>10%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-danger">
                            <span class="icon icon-level-down"></span>
                            -12.00%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td><a href="#">Ava Anderson</a></td>
                        <td>15 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 70%">
                              <span class="sr-only">70% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 25%">
                              <span class="sr-only">25% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 5%">
                              <span class="sr-only">5% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>95%</td>
                        <td>0%</td>
                        <td>5%</td>
                        <td>
                          <span class="text-danger">
                            <span class="icon icon-level-down"></span>
                            -12.75%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td><a href="#">Andrew Davis</a></td>
                        <td>15 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 70%">
                              <span class="sr-only">70% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%">
                              <span class="sr-only">20% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                              <span class="sr-only">10% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>80%</td>
                        <td>20%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-muted">
                            0.00%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td><a href="#">Madison Hill</a></td>
                        <td>13 tickets</td>
                        <td class="miw-320">
                          <small class="progress-description">
                            <span class="pull-right">Critical</span>
                            Low
                          </small>
                          <div class="progress progress-xs m-b-0">
                            <div class="progress-bar progress-bar-success" style="width: 95%">
                              <span class="sr-only">95% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 5%">
                              <span class="sr-only">5% Complete (danger)</span>
                            </div>
                          </div>
                        </td>
                        <td>85%</td>
                        <td>15%</td>
                        <td>0%</td>
                        <td>
                          <span class="text-muted">
                            0.00%
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center m-b">
            <h3 class="m-b-0">Advanced Table Header</h3>
            <small>The following example shows how a more complex header can be in a table.</small>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped table-center">
                    <thead>
                      <tr class="bg-primary">
                        <th rowspan="2">#</th>
                        <th rowspan="2">Month</th>
                        <th rowspan="2">Quantity</th>
                        <th rowspan="1" colspan="3">Priority</th>
                        <th rowspan="1" colspan="3">Completed within</th>
                        <th rowspan="2">Rating</th>
                      </tr>
                      <tr class="bg-primary">
                        <th rowspan="1" colspan="1">Low</th>
                        <th rowspan="1" colspan="1">Medium</th>
                        <th rowspan="1" colspan="1">Critical</th>
                        <th rowspan="1" colspan="1">1 day</th>
                        <th rowspan="1" colspan="1">2 days</th>
                        <th rowspan="1" colspan="1">3 days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="col-xs-0" scope="row">1</th>
                        <td class="col-xs-2">December</td>
                        <td class="col-xs-2">5,785 tickets</td>
                        <td class="col-xs-1">78.05%</td>
                        <td class="col-xs-1">12.25%</td>
                        <td class="col-xs-1">9.7%</td>
                        <td class="col-xs-1">81.6%</td>
                        <td class="col-xs-1">11.8%</td>
                        <td class="col-xs-1">6.6%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">2</th>
                        <td class="col-xs-2">November</td>
                        <td class="col-xs-2">4,587 tickets</td>
                        <td class="col-xs-1">72.28%</td>
                        <td class="col-xs-1">17.9%</td>
                        <td class="col-xs-1">9.82%</td>
                        <td class="col-xs-1">84.72%</td>
                        <td class="col-xs-1">9.5%</td>
                        <td class="col-xs-1">5.78%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-half-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">3</th>
                        <td class="col-xs-2">October</td>
                        <td class="col-xs-2">6,899 tickets</td>
                        <td class="col-xs-1">71.16%</td>
                        <td class="col-xs-1">18.13%</td>
                        <td class="col-xs-1">10.71%</td>
                        <td class="col-xs-1">79.88%</td>
                        <td class="col-xs-1">11.86%</td>
                        <td class="col-xs-1">8.26%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">4</th>
                        <td class="col-xs-2">September</td>
                        <td class="col-xs-2">6,383 tickets</td>
                        <td class="col-xs-1">82.55%</td>
                        <td class="col-xs-1">8.77%</td>
                        <td class="col-xs-1">8.68%</td>
                        <td class="col-xs-1">76.66%</td>
                        <td class="col-xs-1">12.5%</td>
                        <td class="col-xs-1">10.84%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-half-o"></span>
                              <span class="icon icon-star-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">5</th>
                        <td class="col-xs-2">August</td>
                        <td class="col-xs-2">6,651 tickets</td>
                        <td class="col-xs-1">77.41%</td>
                        <td class="col-xs-1">13.5%</td>
                        <td class="col-xs-1">9.09%</td>
                        <td class="col-xs-1">81.6%</td>
                        <td class="col-xs-1">11.8%</td>
                        <td class="col-xs-1">6.6%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">6</th>
                        <td class="col-xs-2">July</td>
                        <td class="col-xs-2">5,788 tickets</td>
                        <td class="col-xs-1">73.89%</td>
                        <td class="col-xs-1">14.66%</td>
                        <td class="col-xs-1">11.45%</td>
                        <td class="col-xs-1">89.66%</td>
                        <td class="col-xs-1">9.72%</td>
                        <td class="col-xs-1">0.62%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">7</th>
                        <td class="col-xs-2">June</td>
                        <td class="col-xs-2">4,889 tickets</td>
                        <td class="col-xs-1">81.37%</td>
                        <td class="col-xs-1">16.64%</td>
                        <td class="col-xs-1">1.99%</td>
                        <td class="col-xs-1">84.72%</td>
                        <td class="col-xs-1">9.5%</td>
                        <td class="col-xs-1">5.78%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-half-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">8</th>
                        <td class="col-xs-2">May</td>
                        <td class="col-xs-2">5,541 tickets</td>
                        <td class="col-xs-1">77.68%</td>
                        <td class="col-xs-1">12.65%</td>
                        <td class="col-xs-1">9.67%</td>
                        <td class="col-xs-1">83.6%</td>
                        <td class="col-xs-1">12.8%</td>
                        <td class="col-xs-1">3.6%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-half-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">9</th>
                        <td class="col-xs-2">April</td>
                        <td class="col-xs-2">8,541 tickets</td>
                        <td class="col-xs-1">58.99%</td>
                        <td class="col-xs-1">19.84%</td>
                        <td class="col-xs-1">21.17%</td>
                        <td class="col-xs-1">66.37%</td>
                        <td class="col-xs-1">19.64%</td>
                        <td class="col-xs-1">13.99%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-o"></span>
                              <span class="icon icon-star-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                      <tr>
                        <th class="col-xs-0" scope="row">10</th>
                        <td class="col-xs-2">March</td>
                        <td class="col-xs-2">5,855 tickets</td>
                        <td class="col-xs-1">68.44%</td>
                        <td class="col-xs-1">27.84%</td>
                        <td class="col-xs-1">3.72%</td>
                        <td class="col-xs-1">83.6%</td>
                        <td class="col-xs-1">12.8%</td>
                        <td class="col-xs-1">3.6%</td>
                        <td class="col-xs-2">
                          <small>
                            <span class="rating">
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star"></span>
                              <span class="icon icon-star-o"></span>
                            </span>
                          </small>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-12">
              <div class="panel">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-middle">
                      <thead>
                        <tr>
                          <th>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <th>Customer</th>
                          <th>Subject</th>
                          <th>Updated</th>
                          <th>Status</th>
                          <th>Priority</th>
                          <th>Assigned to</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/1099386850.jpg" alt="Jessica Brown">
                              <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jessica Brown</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Aliquam viverra, metus eget dictum vestibulum, er.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-info label-pill">New</span>
                          </td>
                          <td>Low</td>
                          <td>Unassigned</td>
                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Assigned to me</a></li>
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/2995015682.jpg" alt="Adelaide Kane">
                              <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Adelaide Kane</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Mauris vulputate dolor vel torto.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-info label-pill">New</span>
                          </td>
                          <td>Low</td>
                          <td>Unassigned</td>
                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Assigned to me</a></li>
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/2234124529.jpg" alt="Dave Hamilton">
                              <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Dave Hamilton</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Sed cursus sodales scelerisque suspendisse e.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-info label-pill">New</span>
                          </td>
                          <td>Low</td>
                          <td>Unassigned</td>
                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Assigned to me</a></li>
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/1703835345.jpg" alt="Rebecca Fox">
                              <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Rebecca Fox</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Aenean et scelerisque velit sed at i.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-primary label-pill">Open</span>
                          </td>
                          <td>High</td>
                          <td>Me</td>
                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/2079247459.jpg" alt="John Miller">
                              <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>John Miller</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Vivamus tincidunt lacinia ipsum aliquam blandit .</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-success label-pill">Closed</span>
                          </td>
                          <td>Medium</td>
                          <td>Me</td>
                          <td>
                            <div class="btn-group pull-right dropdown">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/1376812548.jpg" alt="Brad Miller">
                              <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Brad Miller</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Nulla eleifend nisi vitae lacus convallis.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-success label-pill">Closed</span>
                          </td>
                          <td>Medium</td>
                          <td>Daniel Taylor</td>
                          <td>
                            <div class="btn-group pull-right dropup">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/2832982242.jpg" alt="Agatha Ford">
                              <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Agatha Ford</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Sed tempor, dolor vel pulvinar tempus, lorem mauris p.</span>
                          </td>
                          <td>21-Jun-2016</td>
                          <td>
                            <span class="label label-primary label-pill">Open</span>
                          </td>
                          <td>High</td>
                          <td>Eliot Morgan</td>
                          <td>
                            <div class="btn-group pull-right dropup">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/1823060748.jpg" alt="Mitt Owen">
                              <span class="icon-child bg-danger circle sq-8"></span>
                            </span>
                            <strong>Mitt Owen</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Mauris sodales auctor justo, id fringilla nisi cum sociis nat.</span>
                          </td>
                          <td>20-Jun-2016</td>
                          <td>
                            <span class="label label-success label-pill">Closed</span>
                          </td>
                          <td>Low</td>
                          <td>Eliot Morgan</td>
                          <td>
                            <div class="btn-group pull-right dropup">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/2163317912.jpg" alt="Jason Saunders">
                              <span class="icon-child bg-warning circle sq-8"></span>
                            </span>
                            <strong>Jason Saunders</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Nam posuere pharetra ligula, vitae lob.</span>
                          </td>
                          <td>20-Jun-2016</td>
                          <td>
                            <span class="label label-success label-pill">Closed</span>
                          </td>
                          <td>Low</td>
                          <td>Daniel Taylor</td>
                          <td>
                            <div class="btn-group pull-right dropup">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="custom-control custom-control-primary custom-checkbox">
                              <input class="custom-control-input" type="checkbox">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </td>
                          <td class="nowrap">
                            <span class="icon-with-child m-r">
                              <img class="circle" width="36" height="36" src="img/1699893867.jpg" alt="Ruby Dixon">
                              <span class="icon-child bg-success circle sq-8"></span>
                            </span>
                            <strong>Ruby Dixon</strong>
                          </td>
                          <td class="maw-320">
                            <span class="truncate">Praesent ac lobortis libero phasellus.</span>
                          </td>
                          <td>20-Jun-2016</td>
                          <td>
                            <span class="label label-success label-pill">Closed</span>
                          </td>
                          <td>Medium</td>
                          <td>Daniel Taylor</td>
                          <td>
                            <div class="btn-group pull-right dropup">
                              <button class="btn btn-link link-muted" aria-haspopup="true" data-toggle="dropdown" type="button">
                                <span class="icon icon-ellipsis-h icon-lg icon-fw"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Flag this ticket</a></li>
                                <li><a href="#">Mark this ticket as spam</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>